In [1]:
import pandas as pd
import numpy as np

train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

print(train.shape)
train.head()

(630000, 15)

,id,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,0,58,1,4,152,239,0,0,158,1,3.6,2,2,7,Presence
1,1,52,1,1,125,325,0,2,171,0,0.0,1,0,3,Absence
2,2,56,0,2,160,188,0,2,151,0,0.0,1,0,3,Absence
3,3,44,0,3,134,229,0,2,150,0,1.0,2,0,3,Absence
4,4,58,1,4,140,234,0,2,125,1,3.8,2,3,3,Presence

In [2]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630000 entries, 0 to 629999
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   id                       630000 non-null  int64
 1   Age                      630000 non-null  int64
 2   Sex                      630000 non-null  int64
 3   Chest pain type          630000 non-null  int64
 4   BP                       630000 non-null  int64
 5   Cholesterol              630000 non-null  int64
 6   FBS over 120             630000 non-null  int64
 7   EKG results              630000 non-null  int64
 8   Max HR                   630000 non-null  int64
 9   Exercise angina          630000 non-null  int64
 10  ST depression            630000 non-null  float64
 11  Slope of ST              630000 non-null  int64
 12  Number of vessels fluro  630000 non-null  int64
 13  Thallium                 630000 non-null  int64
 14  Heart Disease            630000 non-null  object
dtypes: float64(1), int64(13), object(1)
memory usage: 72.1+ MB

In [3]:
train.isnull().sum()

id                         0
Age                        0
Sex                        0
Chest pain type            0
BP                         0
Cholesterol                0
FBS over 120               0
EKG results                0
Max HR                     0
Exercise angina            0
ST depression              0
Slope of ST                0
Number of vessels fluro    0
Thallium                   0
Heart Disease              0
dtype: int64

In [4]:
train.describe()

,id,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium
count,630000.000000,630000.000000,630000.000000,630000.000000,630000.000000,630000.000000,630000.000000,630000.000000,630000.000000,630000.000000,630000.000000,630000.000000,630000.000000,630000.000000
mean,314999.500000,54.136706,0.714735,3.312752,130.497433,245.011814,0.079987,0.981660,152.816763,0.273725,0.716028,1.455871,0.451040,4.618873
std,181865.479132,8.256301,0.451541,0.851615,14.975802,33.681581,0.271274,0.998783,19.112927,0.445870,0.948472,0.545192,0.798549,1.950007
min,0.000000,29.000000,0.000000,1.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000,3.000000
25%,157499.750000,48.000000,0.000000,3.000000,120.000000,223.000000,0.000000,0.000000,142.000000,0.000000,0.000000,1.000000,0.000000,3.000000
50%,314999.500000,54.000000,1.000000,4.000000,130.000000,243.000000,0.000000,0.000000,157.000000,0.000000,0.100000,1.000000,0.000000,3.000000
75%,472499.250000,60.000000,1.000000,4.000000,140.000000,269.000000,0.000000,2.000000,166.000000,1.000000,1.400000,2.000000,1.000000,7.000000
max,629999.000000,77.000000,1.000000,4.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,3.000000,7.000000

In [8]:
X = train.drop(columns=['id'])
train=X
test=test.drop(columns=['id'])

In [9]:
train.dtypes

Age                          int64
Sex                          int64
Chest pain type              int64
BP                           int64
Cholesterol                  int64
FBS over 120                 int64
EKG results                  int64
Max HR                       int64
Exercise angina              int64
ST depression              float64
Slope of ST                  int64
Number of vessels fluro      int64
Thallium                     int64
Heart Disease               object
dtype: object

In [10]:
train["Heart Disease"].value_counts(normalize=True)

Heart Disease
Absence     0.55166
Presence    0.44834
Name: proportion, dtype: float64

In [11]:
y=train['Heart Disease'].map({ "Absence":0,"Presence":1})

In [12]:
y.value_counts()

Heart Disease
0    347546
1    282454
Name: count, dtype: int64

In [13]:
print(y[:5])
print(type(y.iloc[0]))

0    1
1    0
2    0
3    0
4    1
Name: Heart Disease, dtype: int64
<class 'numpy.int64'>

In [14]:
cat_cols = [c for c in X.columns if X[c].nunique() < 10]
num_cols = [c for c in X.columns if c not in cat_cols]

print("Categorical:", cat_cols)
print("Numerical:", num_cols)

Categorical: ['Sex', 'Chest pain type', 'FBS over 120', 'EKG results', 'Exercise angina', 'Slope of ST', 'Number of vessels fluro', 'Thallium', 'Heart Disease']
Numerical: ['Age', 'BP', 'Cholesterol', 'Max HR', 'ST depression']

In [16]:
cat_cols = [c for c in X.columns if X[c].nunique() < 10]
num_cols = [c for c in X.columns if c not in cat_cols]

In [17]:
print(cat_cols)

['Sex', 'Chest pain type', 'FBS over 120', 'EKG results', 'Exercise angina', 'Slope of ST', 'Number of vessels fluro', 'Thallium', 'Heart Disease']

In [18]:
X_encoded = pd.get_dummies(X, columns=cat_cols, drop_first=True)
test_encoded = pd.get_dummies(test, columns=cat_cols, drop_first=True)

KeyError: "['Heart Disease'] not in index"

In [19]:
target_col = "Heart Disease"

y = train[target_col].map({
    "Absence": 0,
    "Presence": 1
})

X = train.drop(columns=[target_col])

In [20]:
cat_cols = [c for c in X.columns if X[c].nunique() < 10]
num_cols = [c for c in X.columns if c not in cat_cols]

In [21]:
print("Heart Disease" in cat_cols)

False

In [22]:
X_encoded = pd.get_dummies(X, columns=cat_cols, drop_first=True)
test_encoded = pd.get_dummies(test, columns=cat_cols, drop_first=True)

In [23]:
print(cat_cols)
print(set(cat_cols) - set(test.columns))

['Sex', 'Chest pain type', 'FBS over 120', 'EKG results', 'Exercise angina', 'Slope of ST', 'Number of vessels fluro', 'Thallium']
set()

In [24]:
print(X_encoded.shape)
print(test_encoded.shape)

(630000, 20)
(270000, 20)

In [25]:
from sklearn.model_selection import StratifiedKFold

skf = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)

In [26]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import log_loss
import numpy as np

oof = np.zeros(len(X_encoded))
test_preds = np.zeros(len(test_encoded))

for fold, (tr_idx, val_idx) in enumerate(skf.split(X_encoded, y)):
    X_tr, X_val = X_encoded.iloc[tr_idx], X_encoded.iloc[val_idx]
    y_tr, y_val = y.iloc[tr_idx], y.iloc[val_idx]

    model = LogisticRegression(max_iter=2000)
    model.fit(X_tr, y_tr)

    val_pred = model.predict_proba(X_val)[:, 1]
    test_pred = model.predict_proba(test_encoded)[:, 1]

    oof[val_idx] = val_pred
    test_preds += test_pred / skf.n_splits

    print(f"Fold {fold} LogLoss:", log_loss(y_val, val_pred))

print("\nOverall CV LogLoss:", log_loss(y, oof))

Fold 0 LogLoss: 0.27414868957960437
Fold 1 LogLoss: 0.27709246851913805
Fold 2 LogLoss: 0.27501994760532034
Fold 3 LogLoss: 0.27603831791102945
Fold 4 LogLoss: 0.2739208797137972

Overall CV LogLoss: 0.27524406066577795

In [ ]:
# If not installed:
# !pip install xgboost

from xgboost import XGBClassifier
from sklearn.metrics import log_loss
import numpy as np

oof = np.zeros(len(X_encoded))
test_preds = np.zeros(len(test_encoded))

for fold, (tr_idx, val_idx) in enumerate(skf.split(X_encoded, y)):
    print(f"\nTraining Fold {fold}")

    X_tr, X_val = X_encoded.iloc[tr_idx], X_encoded.iloc[val_idx]
    y_tr, y_val = y.iloc[tr_idx], y.iloc[val_idx]

    model = XGBClassifier(
        n_estimators=1500,
        learning_rate=0.01,
        max_depth=4,
        min_child_weight=1,
        subsample=0.8,
        colsample_bytree=0.8,
        reg_lambda=1,
        objective="binary:logistic",
        eval_metric="logloss",
        random_state=42,
        tree_method="hist"   # faster
    )

    model.fit(
        X_tr, y_tr,
        eval_set=[(X_val, y_val)],
        verbose=False
    )

    val_pred = model.predict_proba(X_val)[:, 1]
    test_pred = model.predict_proba(test_encoded)[:, 1]

    oof[val_idx] = val_pred
    test_preds += test_pred / skf.n_splits

    print("Fold LogLoss:", log_loss(y_val, val_pred))

print("\nOverall CV LogLoss:", log_loss(y, oof))

Training Fold 0